# testing data
/fpi/tests/data/samples/
/fpi/tests/data/catalog/
/fpi/tests/data/originals/
*.fpicat

# macOS specific files.
.DS_Store

# temporary files
*.swp

# Visual Studio Code
/.vscode/

# Python specific
__pycache__/
*.pyc
*.pyo
